In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2021-12-04 23:21:37,-21.2078,-159.7750,80.65,83,75,6.91
1,1,Dikson,RU,2021-12-04 23:25:19,73.5069,80.5464,-22.25,99,100,11.05
2,2,Chokurdakh,RU,2021-12-04 23:25:19,70.6333,147.9167,-40.41,100,58,2.59
3,3,Cape Town,ZA,2021-12-04 23:23:14,-33.9258,18.4232,63.01,87,75,2.30
4,4,Kieta,PG,2021-12-04 23:25:20,-6.2167,155.6333,85.91,67,100,1.54

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2021-12-04 23:21:37,-21.2078,-159.7750,80.65,83,75,6.91
4,4,Kieta,PG,2021-12-04 23:25:20,-6.2167,155.6333,85.91,67,100,1.54
8,8,Lasem,ID,2021-12-04 23:25:21,-6.6922,111.4527,76.53,93,100,7.27
19,19,Carnarvon,AU,2021-12-04 23:25:23,-24.8667,113.6333,75.27,83,0,6.91
20,20,Villa Alemana,CL,2021-12-04 23:25:23,-33.0422,-71.3733,88.92,50,0,6.91
22,22,Rikitea,PF,2021-12-04 23:23:10,-23.1203,-134.9692,76.17,71,50,9.33
27,27,Tabou,CI,2021-12-04 23:25:24,4.4230,-7.3528,80.04,81,23,7.16
29,29,Bowen,AU,2021-12-04 23:25:25,-20.0167,148.2333,84.42,62,0,11.52
33,33,Saint-Philippe,RE,2021-12-04 23:25:26,-21.3585,55.7679,76.55,83,29,9.28
35,35,Alofi,NU,2021-12-04 23:25:26,-19.0595,-169.9187,84.09,74,53,8.05

In [11]:
preferred_cities_df.count()

City_ID       147
City          147
Country       147
Date          147
Lat           147
Lng           147
Max Temp      147
Humidity      147
Cloudiness    147
Wind Speed    147
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0           Avarua      CK     80.65 -21.2078 -159.7750
4            Kieta      PG     85.91  -6.2167  155.6333
8            Lasem      ID     76.53  -6.6922  111.4527
19       Carnarvon      AU     75.27 -24.8667  113.6333
20   Villa Alemana      CL     88.92 -33.0422  -71.3733
22         Rikitea      PF     76.17 -23.1203 -134.9692
27           Tabou      CI     80.04   4.4230   -7.3528
29           Bowen      AU     84.42 -20.0167  148.2333
33  Saint-Philippe      RE     76.55 -21.3585   55.7679
35           Alofi      NU     84.09 -19.0595 -169.9187

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn
4,Kieta,PG,85.91,-6.2167,155.6333,Uruna Bay Retreat
8,Lasem,ID,76.53,-6.6922,111.4527,"Nyah Lasem | Museum, Warung & Community Center"
19,Carnarvon,AU,75.27,-24.8667,113.6333,Hospitality Carnarvon
20,Villa Alemana,CL,88.92,-33.0422,-71.3733,Madrid Guesthouse
...,...,...,...,...,...,...
539,Kupang,ID,81.18,-10.1667,123.5833,Hotel On The Rock by Prasanthi
545,Gorontalo,ID,80.64,0.5412,123.0595,Maqna Hotel by Prasanthi
546,Dori,BF,76.05,14.0354,-0.0345,Hôtel Liptako
553,Pemba,MZ,79.84,-12.9740,40.5178,Guesthouse Samotina
562,Amio,PH,78.06,9.3571,122.9413,